{% extends 'navbar.html' %}

{% load static %}

{% block contenido_que_cambia %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; max-width: 400px;">
        <h2 style="text-align: center; color: #333;">Cambiar Contraseña</h2>
        
        <form action="" method="post" style="display: flex; flex-direction: column; align-items: center;">
            {% csrf_token %}
            
            <div style="margin-bottom: 15px; width: 100%;">
                <label for="id_old_password">{{ form.old_password.label }}</label>
                {{ form.old_password }} <!-- Campo sin filtro add_class -->
            </div>

            <div style="margin-bottom: 15px; width: 100%;">
                <label for="id_new_password1">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
            </div>

            <div style="margin-bottom: 15px; width: 100%;">
                <label for="id_new_password2">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
            </div>
            
            <button type="submit" style="width: 100%; padding: 10px; background-color: #000; color: white; border: none; border-radius: 5px; cursor: pointer;">
                Cambiar Contraseña
            </button>
        </form>
    </div>
</div>
{% endblock contenido_que_cambia %}
