{% extends 'padre.html' %}

{% block contenido_que_cambia %}
<style>
/* Importar la fuente  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Aplicar la fuente  al body */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Estilizar el título "Nuestros productos" */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Negrita */
    font-size: 36px;   /* Aumentar el tamaño de la letra */
    text-align: center;
    margin-top: 50px;  /* Margen superior para separarlo de la imagen */
    color: #333333;    /* Color gris oscuro  */
}
</style>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Título "Nuestros productos" -->
<h1>Nuestros productos</h1>

{% endblock contenido_que_cambia %}
