{% extends 'navbar.html' %}

{% load static %} 

{% block contenido_que_cambia %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>

    <!-- Mostrar mensajes -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Mostrar el formulario de forma predeterminada -->
        <button type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>

{% endblock contenido_que_cambia %}
